* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ebebeb;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 12px;
}
div.top-header {
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
}

header {
  background-color: #eac926;
}

header div.logo,
header .form {
  width: 50%;
}

header div.logo {
  padding: 10px;
}
header nav {
  font-size: 12px;
}

header ul li {
  list-style-type: none;
}

header ul li a {
  text-decoration: none;
  color: #000;
}

header .form {
  display: flex;
  align-items: center;
  padding: 2px;
  font-size: 11px;
}

header .form .input {
  background-color: #fff;
  border: 1px solid #000;
  outline: none;
  color: #666;
  padding: 2px;
}
header .form .submit {
  background-color: #fff;
  border: 1px solid #000;
  color: #666;
  width: 10%;
}

header div.top-header p {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

div.burger-menu {
  text-align: center;
}

div.burger-menu i {
  background-color: #0044aa;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  height: 40px;
  margin: 10px 0px 20px 0px;
  padding: 10px;
  width: 40px;
}

article div.main-article {
  border-top: solid 1px #ebebeb;
  padding: 15px;
}

.price {
  font-size: 18px;
}

.discount,
.description {
  font-size: 16px;
  font-weight: normal;
}

h3,
.description {
  color: #666;
}

section.banner img {
  width: 100%;
}

main {
  width: 90%;
  margin: auto;
}

main section article {
  background-color: #fff;
  margin-bottom: 16px;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main section article img {
  width: 100%;
}

main section article i,
.discount {
  color: #39b54a;
}

@media (min-width: 481px) {
  main section article .description {
    display: block;
  }

  main section article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  main section div.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
  }

  main section div.products article {
    flex-basis: 48%;
  }

  .price,
  .discount {
    width: 50%;
  }
}

@media (min-width: 769px) {
  main section div.products article {
    flex-basis: 24%;
  }
}
